* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #ffffff;
}

header {
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0c14b;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #f0c14b;
    border-bottom: 2px solid #f0c14b;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.movie {
    background-color: #333333;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: transform 0.2s;
}


.movie:hover {
    transform: scale(1.03);
}

.movie img {
    border-radius: 8px;
    width: 200px;
    margin: 10px 0;
}

.movie h3 {
    margin: 0 0 10px 0;
}

.movie button {
    margin-top: 10px;
    align-self: flex-end;
    background-color: #f0c14b;
    border: none;
    color: #111;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddb347;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin-top: 10px;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#contact-form button {
    margin-top: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1c1c1c;
}
